.hope{
    &__content{
        margin-top: 142px;
    }
    
    &__top{
        max-width: 857px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;

        p{
            font-size: 20px;
            font-weight: 400;
            line-height: 32px;
            letter-spacing: 0em;
            color: #72787D;
        }
    }

    &__hero{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 33px;
        text-align: center;
        margin-bottom: 62px;
    }
    &__data{
        max-width: 332px;
        text-align: center;
        margin-top: 48px;
        h1{
            font-size: 18px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0em;
            color: #212B31;
        }

        p{
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0em;
            color: #72787D;
        }
    }

    &__bottom{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        max-width: 1056px;
        height: 130px;
        background-color: #F6F8F9;
        border-radius: 5px;

        @media screen and (max-width: 960px) {
            height: 160px;
        }
        @media screen and (max-width: 805px) {
            height: 180px;
        }
        @media screen and (max-width: 460px) {
            height: 220px;
        }
        @media screen and (max-width: 365px) {
            height: 250px;
        }
        @media screen and (max-width: 330px) {
            height: 290px;
        }
    }

    &__rent{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 auto;
    }

    &__img{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    &__text{
        font-weight: 500;
        line-height: 32px;
        letter-spacing: 0em;
        color: #212B31;
        margin: 0px 66px 0px 24px;
        padding: 0;
        flex-wrap: wrap;
        justify-content: center;
        @media screen and (max-width: 820px) {
            margin: 0;
        }
        h1{
            font-size: 18px;
            
            @media screen and (max-width: 820px) {
                text-align: center;
            }
        }
    }

    &__button{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        button{
            padding: 13px 25px;
            border-radius: 4px;
            border: 1px solid #DADEDF;
            background-color: #FFFFFF;
        }
        button:hover{
            background-color: #212B31;
            color: #FFFFFF;
            cursor: pointer;
        }
    }
}